body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.search {
    background-color: #141414;
    padding: 20px 0;
    text-align: center;
}

.search p {
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    color: #ffffff;
    cursor: pointer;

}

.search p:hover {
    text-decoration: underline;
}
.search img {
    display: inline-block; 
    vertical-align: middle;
    margin-right: 10px;
}


.search p:hover + ul {
    display: block; /* Affiche les sous-onglets lorsqu'un élément de recherche est survolé */
}



.search ul li {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
    width: 100%; /* Fait en sorte que les sous-éléments prennent toute la largeur de la page */
}

.search ul li:hover {
    text-decoration: underline; /* Souligne l'élément survolé */
}
.search ul {
    display: none;
    position: absolute;
    background-color: #141414;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Utilisation de transitions */
    transform: translateY(-20px); /* Déplacez les sous-éléments vers le haut */
}

.search p:hover + ul {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Déplacer les sous-éléments vers leur position normale */
}
